{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% load user_filters %}
  <main role='main' class='container'>
    <div class='row'>
      <div class='col-md-3 mb-3 mt-1'>
        <div class='card'>
          <div class='card-body'>
            <ul class='list-group list-group-flush'>
              <li class='list-group-item'>
                <div class='h3'>
                  Технологии
                </div> 
              </li>
              <li class='list-group-item'>
                <div class='h6 text-muted'>
                  Python
                </div>
                <div class='h6 text-muted'>
                  Django
                </div>
                <div class='h6 text-muted'>
                  Bootstrap
                </div>
                <div class='h6 text-muted'>
                  PostgreSQL
                </div>
                <div class='h6 text-muted'>
                  Sorl thumbnail
                </div>
                <div class='h6 text-muted'>
                  Dotenv
                </div>
              </li>
            </ul>                                               
          </div>                    
        </div>                
      </div>
      <div class='col-md-9'>
        <div class='card-body'>                    
          <div class='card-text'>
            <p>Сайт написан на Python с использованием Django, база данных на 
            PostgreSQL. Вэб-интерфейс создан посредством Bootstrap. Добавление 
            изображений через sorl-thumbnail. Python-dotenv для сокрытия и 
            хранения сектретной информации (пароли, SECRET_KEY). Проект покрыт 
            тестами с использованием стандартной библиотеки unittest.</p>
          </div>                    
        </div>                
      </div>            
    </div>        
  </main>
{% endblock %}
