{% extends 'base.html' %}
{% block title %}Личные сообщения{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<main role='main' class='container'>
  <div class='row'>
      <div class='col-md-3 mb-3 mt-1'>
        {% include 'private_messages/includes/pm_menu.html' %}
      </div>
      <div class='col-md-9'>
       {% if pm_form.errors %}
        <div class='alert alert-error'>
            {{ pm_form.errors }}
        </div>
        {% endif %}
    {% include 'private_messages/includes/new_topic.html' %}
  </div>
  </div>
</main>
{% endblock %}



