{% extends 'base.html' %}
{% block title %}Профиль пользователя {{ profile.get_full_name }}{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<main role='main' class='container'>
  <div class='row'>
      <div class='col-md-3 mb-3 mt-1'>
        {% include 'posts/includes/author_profile.html' %}
      </div>
      <div class='col-md-9'>
        {% for post in page %}
          {% include 'posts/includes/post_item.html' with post=post  %}
        {% endfor %}

        {% include 'includes/paginator.html' %}
  </div>
  </div>
</main>
{% endblock %}
