<div class='card'>
  <div class='card-body'>
    <div class='h2'>
  {{ profile.get_full_name }}
    </div>
    <div class='h3 text-muted'>
  @{{ profile.username }}
    </div>
  </div>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item'>
      <div class='h6 text-muted'>
        Подписчиков: {{following}} <br />
        Подписан: {{follower}}
      </div>
    </li>
    {% if profile.username != request.user.username %}
    <li class='list-group-item'>
      {% if following %}
      <a class='btn btn-sm btn-light' 
              href='{% url "profile_unfollow" profile.username %}' role='button'> 
              Отписаться 
      </a> 
      {% else %}
      <a class='btn btn-sm btn-primary' 
              href='{% url "profile_follow" profile.username %}' role='button'>
      Подписаться 
      </a>
      {% endif %}
    {% endif %}
    </li>
    <li class='list-group-item'>
      <div class='h6 text-muted'>
    Записей: {{ count }}
      </div>
    </li>
  </ul>
</div>
