<div class='card'>
  <div class='card-body'>
    <div>
    {% load thumbnail %}
    {% thumbnail photo.photo '180x180' crop='center' upscale=True as im %}
    <img class='card-img' src='{{ im.url }}' />
    {% endthumbnail %}
    </div>
    <div class='h2'>
  {{ profile.get_full_name }}
    </div>
    <div class='h3 text-muted'>
  @{{ profile.username }} <a class='p-2 text-dark' href='{% url "private_messages_new" user_id=profile.id %}'><span style='color:rgb(6, 139, 13)'>{% include 'private_messages/icon.html' %}</span></a>
    </div>
  </div>
  <ul class='list-group list-group-flush'>
    <li class='list-group-item'>
      <div class='h6 text-muted'>
        Подписчиков: {{following_count}} <br />
        Подписан: {{follower_count}}
      </div>
    </li>
    {% if profile != request.user %}
    <li class='list-group-item'>
      {% if following %}
      <a class='btn btn-sm btn-light' 
              href='{% url "profile_unfollow" username=profile.username %}' role='button'> 
              Отписаться 
      </a> 
      {% else %}
      <a class='btn btn-sm btn-primary' 
              href='{% url "profile_follow" username=profile.username %}' role='button'>
              Подписаться 
      </a>
      {% endif %}
    {% endif %}
    </li>
    <li class='list-group-item'>
      <div class='h6 text-muted'>
    Записей: {{ count }}
      </div>
    </li>
  </ul>
</div>
