{% extends 'base.html' %}
{% block title %}Личные сообщения{% endblock %}
{% block header %}{% endblock %}
{% block content %}

<main role='main' class='container'>
  <div class='row'>
      <div class='col-md-3 mb-3 mt-1'>
        {% include 'private_messages/includes/pm_menu.html' %}
      </div>
      <div class='col-md-9'>
        {% if user.is_authenticated %}
<div class='card my-4'>
  {% include 'private_messages/includes/new_topic.html' with topic=topic %}
</div>
{% endif %}
{% for message in messages_all %}
<div class='media card mb-4'>
  <div class='media-body card-body'>
    <h5 class='mt-0'>
        {{ message.sender.username }}<br />
        {{ message.sent_at|date:"d.m.Y H:i" }}
      </a>
    </h5>
    <p>{{ message.body | linebreaksbr }}</p>
  </div>
</div>
{% endfor %} 
  </div>
  </div>
</main>
{% endblock %}
